{
  "openapi": "3.1.0",
  "info": {
    "title": "CASOSEX Sovereign Omie ERP API Specification",
    "version": "1.2.0",
    "description": "Matriz Soberana OpenAPI 3.1 compilada a partir de 138 serviços mapeados do Omie ERP + Endpoints do Portal, WebAuthn e DBFast v5."
  },
  "servers": [
    {
      "url": "https://app.omie.com.br",
      "description": "Servidor Oficial Omie ERP"
    },
    {
      "url": "https://dbfast.omie.com.br",
      "description": "Servidor DBFast Read-Replica v5"
    },
    {
      "url": "http://localhost:6661",
      "description": "Bridge Militar Local CASOSEX"
    }
  ],
  "paths": {
    "/api/v1/contador/resumo/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: CONTADOR / resumo",
        "description": "Endpoint operacional Omie ERP para o módulo contador. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "contador_resumo",
        "tags": [
          "Contador"
        ],
        "x-ko-module-hash": "#GEN",
        "x-ko-module-id": "CONTADOR",
        "x-ko-module-name": "Contador",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarResumo"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contador/xml/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: CONTADOR / xml",
        "description": "Endpoint operacional Omie ERP para o módulo contador. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "contador_xml",
        "tags": [
          "Contador"
        ],
        "x-ko-module-hash": "#GEN",
        "x-ko-module-id": "CONTADOR",
        "x-ko-module-name": "Contador",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarXml"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/crm/concorrentes/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: CRM / concorrentes",
        "description": "Endpoint operacional Omie ERP para o módulo crm. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "crm_concorrentes",
        "tags": [
          "Crm"
        ],
        "x-ko-module-hash": "#SFA",
        "x-ko-module-id": "SFA",
        "x-ko-module-name": "CRM / Força de Vendas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarConcorrentes"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/crm/contas/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: CRM / contas",
        "description": "Endpoint operacional Omie ERP para o módulo crm. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "crm_contas",
        "tags": [
          "Crm"
        ],
        "x-ko-module-hash": "#SFA",
        "x-ko-module-id": "SFA",
        "x-ko-module-name": "CRM / Força de Vendas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarContas"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/crm/contascaract/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: CRM / contascaract",
        "description": "Endpoint operacional Omie ERP para o módulo crm. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "crm_contascaract",
        "tags": [
          "Crm"
        ],
        "x-ko-module-hash": "#SFA",
        "x-ko-module-id": "SFA",
        "x-ko-module-name": "CRM / Força de Vendas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarContascaract"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/crm/contatos/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: CRM / contatos",
        "description": "Endpoint operacional Omie ERP para o módulo crm. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "crm_contatos",
        "tags": [
          "Crm"
        ],
        "x-ko-module-hash": "#SFA",
        "x-ko-module-id": "SFA",
        "x-ko-module-name": "CRM / Força de Vendas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarContatos"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/crm/fases/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: CRM / fases",
        "description": "Endpoint operacional Omie ERP para o módulo crm. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "crm_fases",
        "tags": [
          "Crm"
        ],
        "x-ko-module-hash": "#SFA",
        "x-ko-module-id": "SFA",
        "x-ko-module-name": "CRM / Força de Vendas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarFases"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/crm/finders/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: CRM / finders",
        "description": "Endpoint operacional Omie ERP para o módulo crm. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "crm_finders",
        "tags": [
          "Crm"
        ],
        "x-ko-module-hash": "#SFA",
        "x-ko-module-id": "SFA",
        "x-ko-module-name": "CRM / Força de Vendas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarFinders"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/crm/motivos/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: CRM / motivos",
        "description": "Endpoint operacional Omie ERP para o módulo crm. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "crm_motivos",
        "tags": [
          "Crm"
        ],
        "x-ko-module-hash": "#SFA",
        "x-ko-module-id": "SFA",
        "x-ko-module-name": "CRM / Força de Vendas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarMotivos"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/crm/oportunidades-resumo/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: CRM / oportunidades-resumo",
        "description": "Endpoint operacional Omie ERP para o módulo crm. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "crm_oportunidades-resumo",
        "tags": [
          "Crm"
        ],
        "x-ko-module-hash": "#SFA",
        "x-ko-module-id": "SFA",
        "x-ko-module-name": "CRM / Força de Vendas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarOportunidades-resumo"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/crm/oportunidades/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: CRM / oportunidades",
        "description": "Endpoint operacional Omie ERP para o módulo crm. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "crm_oportunidades",
        "tags": [
          "Crm"
        ],
        "x-ko-module-hash": "#SFA",
        "x-ko-module-id": "SFA",
        "x-ko-module-name": "CRM / Força de Vendas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarOportunidades"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/crm/origens/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: CRM / origens",
        "description": "Endpoint operacional Omie ERP para o módulo crm. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "crm_origens",
        "tags": [
          "Crm"
        ],
        "x-ko-module-hash": "#SFA",
        "x-ko-module-id": "SFA",
        "x-ko-module-name": "CRM / Força de Vendas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarOrigens"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/crm/parceiros/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: CRM / parceiros",
        "description": "Endpoint operacional Omie ERP para o módulo crm. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "crm_parceiros",
        "tags": [
          "Crm"
        ],
        "x-ko-module-hash": "#SFA",
        "x-ko-module-id": "SFA",
        "x-ko-module-name": "CRM / Força de Vendas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarParceiros"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/crm/solucoes/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: CRM / solucoes",
        "description": "Endpoint operacional Omie ERP para o módulo crm. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "crm_solucoes",
        "tags": [
          "Crm"
        ],
        "x-ko-module-hash": "#SFA",
        "x-ko-module-id": "SFA",
        "x-ko-module-name": "CRM / Força de Vendas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarSolucoes"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/crm/status/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: CRM / status",
        "description": "Endpoint operacional Omie ERP para o módulo crm. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "crm_status",
        "tags": [
          "Crm"
        ],
        "x-ko-module-hash": "#SFA",
        "x-ko-module-id": "SFA",
        "x-ko-module-name": "CRM / Força de Vendas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarStatus"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/crm/tarefas-resumo/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: CRM / tarefas-resumo",
        "description": "Endpoint operacional Omie ERP para o módulo crm. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "crm_tarefas-resumo",
        "tags": [
          "Crm"
        ],
        "x-ko-module-hash": "#SFA",
        "x-ko-module-id": "SFA",
        "x-ko-module-name": "CRM / Força de Vendas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarTarefas-resumo"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/crm/tarefas/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: CRM / tarefas",
        "description": "Endpoint operacional Omie ERP para o módulo crm. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "crm_tarefas",
        "tags": [
          "Crm"
        ],
        "x-ko-module-hash": "#SFA",
        "x-ko-module-id": "SFA",
        "x-ko-module-name": "CRM / Força de Vendas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarTarefas"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/crm/tipos/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: CRM / tipos",
        "description": "Endpoint operacional Omie ERP para o módulo crm. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "crm_tipos",
        "tags": [
          "Crm"
        ],
        "x-ko-module-hash": "#SFA",
        "x-ko-module-id": "SFA",
        "x-ko-module-name": "CRM / Força de Vendas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarTipos"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/crm/tipostarefa/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: CRM / tipostarefa",
        "description": "Endpoint operacional Omie ERP para o módulo crm. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "crm_tipostarefa",
        "tags": [
          "Crm"
        ],
        "x-ko-module-hash": "#SFA",
        "x-ko-module-id": "SFA",
        "x-ko-module-name": "CRM / Força de Vendas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarTipostarefa"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/crm/usuarios/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: CRM / usuarios",
        "description": "Endpoint operacional Omie ERP para o módulo crm. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "crm_usuarios",
        "tags": [
          "Crm"
        ],
        "x-ko-module-hash": "#SFA",
        "x-ko-module-id": "SFA",
        "x-ko-module-name": "CRM / Força de Vendas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarUsuarios"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/crm/verticais/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: CRM / verticais",
        "description": "Endpoint operacional Omie ERP para o módulo crm. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "crm_verticais",
        "tags": [
          "Crm"
        ],
        "x-ko-module-hash": "#SFA",
        "x-ko-module-id": "SFA",
        "x-ko-module-name": "CRM / Força de Vendas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarVerticais"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/estoque/ajuste/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: ESTOQUE / ajuste",
        "description": "Endpoint operacional Omie ERP para o módulo estoque. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "estoque_ajuste",
        "tags": [
          "Estoque"
        ],
        "x-ko-module-hash": "#GEN",
        "x-ko-module-id": "ESTOQUE",
        "x-ko-module-name": "Estoque",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarAjuste"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/estoque/comprador/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: ESTOQUE / comprador",
        "description": "Endpoint operacional Omie ERP para o módulo estoque. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "estoque_comprador",
        "tags": [
          "Estoque"
        ],
        "x-ko-module-hash": "#GEN",
        "x-ko-module-id": "ESTOQUE",
        "x-ko-module-name": "Estoque",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarComprador"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/estoque/consulta/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: ESTOQUE / consulta",
        "description": "Endpoint operacional Omie ERP para o módulo estoque. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "estoque_consulta",
        "tags": [
          "Estoque"
        ],
        "x-ko-module-hash": "#GEN",
        "x-ko-module-id": "ESTOQUE",
        "x-ko-module-name": "Estoque",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarConsulta"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/estoque/local/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: ESTOQUE / local",
        "description": "Endpoint operacional Omie ERP para o módulo estoque. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "estoque_local",
        "tags": [
          "Estoque"
        ],
        "x-ko-module-hash": "#GEN",
        "x-ko-module-id": "ESTOQUE",
        "x-ko-module-name": "Estoque",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarLocal"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/estoque/movestoque/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: ESTOQUE / movestoque",
        "description": "Endpoint operacional Omie ERP para o módulo estoque. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "estoque_movestoque",
        "tags": [
          "Estoque"
        ],
        "x-ko-module-hash": "#GEN",
        "x-ko-module-id": "ESTOQUE",
        "x-ko-module-name": "Estoque",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarMovestoque"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/estoque/produtofornecedor/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: ESTOQUE / produtofornecedor",
        "description": "Endpoint operacional Omie ERP para o módulo estoque. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "estoque_produtofornecedor",
        "tags": [
          "Estoque"
        ],
        "x-ko-module-hash": "#GEN",
        "x-ko-module-id": "ESTOQUE",
        "x-ko-module-name": "Estoque",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarProdutofornecedor"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/estoque/resumo/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: ESTOQUE / resumo",
        "description": "Endpoint operacional Omie ERP para o módulo estoque. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "estoque_resumo",
        "tags": [
          "Estoque"
        ],
        "x-ko-module-hash": "#GEN",
        "x-ko-module-id": "ESTOQUE",
        "x-ko-module-name": "Estoque",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarResumo"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/financas/caixa/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: FINANCAS / caixa",
        "description": "Endpoint operacional Omie ERP para o módulo financas. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "financas_caixa",
        "tags": [
          "Financas"
        ],
        "x-ko-module-hash": "#FIN",
        "x-ko-module-id": "FIN",
        "x-ko-module-name": "Finanças e DRE",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarCaixa"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/financas/contacorrentelancamentos/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: FINANCAS / contacorrentelancamentos",
        "description": "Endpoint operacional Omie ERP para o módulo financas. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "financas_contacorrentelancamentos",
        "tags": [
          "Financas"
        ],
        "x-ko-module-hash": "#FIN",
        "x-ko-module-id": "FIN",
        "x-ko-module-name": "Finanças e DRE",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarContacorrentelancamentos"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/financas/contapagar/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: FINANCAS / contapagar",
        "description": "Endpoint operacional Omie ERP para o módulo financas. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "financas_contapagar",
        "tags": [
          "Financas"
        ],
        "x-ko-module-hash": "#FIN",
        "x-ko-module-id": "FIN",
        "x-ko-module-name": "Finanças e DRE",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarContapagar"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/financas/contareceber/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: FINANCAS / contareceber",
        "description": "Endpoint operacional Omie ERP para o módulo financas. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "financas_contareceber",
        "tags": [
          "Financas"
        ],
        "x-ko-module-hash": "#FIN",
        "x-ko-module-id": "FIN",
        "x-ko-module-name": "Finanças e DRE",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarContareceber"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/financas/contareceberboleto/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: FINANCAS / contareceberboleto",
        "description": "Endpoint operacional Omie ERP para o módulo financas. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "financas_contareceberboleto",
        "tags": [
          "Financas"
        ],
        "x-ko-module-hash": "#FIN",
        "x-ko-module-id": "FIN",
        "x-ko-module-name": "Finanças e DRE",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarContareceberboleto"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/financas/extrato/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: FINANCAS / extrato",
        "description": "Endpoint operacional Omie ERP para o módulo financas. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "financas_extrato",
        "tags": [
          "Financas"
        ],
        "x-ko-module-hash": "#FIN",
        "x-ko-module-id": "FIN",
        "x-ko-module-name": "Finanças e DRE",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarExtrato"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/financas/mf/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: FINANCAS / mf",
        "description": "Endpoint operacional Omie ERP para o módulo financas. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "financas_mf",
        "tags": [
          "Financas"
        ],
        "x-ko-module-hash": "#FIN",
        "x-ko-module-id": "FIN",
        "x-ko-module-name": "Finanças e DRE",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarMf"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/financas/pesquisartitulos/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: FINANCAS / pesquisartitulos",
        "description": "Endpoint operacional Omie ERP para o módulo financas. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "financas_pesquisartitulos",
        "tags": [
          "Financas"
        ],
        "x-ko-module-hash": "#FIN",
        "x-ko-module-id": "FIN",
        "x-ko-module-name": "Finanças e DRE",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarPesquisartitulos"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/financas/pix/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: FINANCAS / pix",
        "description": "Endpoint operacional Omie ERP para o módulo financas. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "financas_pix",
        "tags": [
          "Financas"
        ],
        "x-ko-module-hash": "#FIN",
        "x-ko-module-id": "FIN",
        "x-ko-module-name": "Finanças e DRE",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarPix"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/financas/resumo/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: FINANCAS / resumo",
        "description": "Endpoint operacional Omie ERP para o módulo financas. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "financas_resumo",
        "tags": [
          "Financas"
        ],
        "x-ko-module-hash": "#FIN",
        "x-ko-module-id": "FIN",
        "x-ko-module-name": "Finanças e DRE",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarResumo"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/geral/anexo/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: GERAL / anexo",
        "description": "Endpoint operacional Omie ERP para o módulo geral. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "geral_anexo",
        "tags": [
          "Geral"
        ],
        "x-ko-module-hash": "#CTB",
        "x-ko-module-id": "CTB",
        "x-ko-module-name": "Contabilidade / Configurações",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarAnexo"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/geral/bancos/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: GERAL / bancos",
        "description": "Endpoint operacional Omie ERP para o módulo geral. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "geral_bancos",
        "tags": [
          "Geral"
        ],
        "x-ko-module-hash": "#CTB",
        "x-ko-module-id": "CTB",
        "x-ko-module-name": "Contabilidade / Configurações",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarBancos"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/geral/bandeiracartao/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: GERAL / bandeiracartao",
        "description": "Endpoint operacional Omie ERP para o módulo geral. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "geral_bandeiracartao",
        "tags": [
          "Geral"
        ],
        "x-ko-module-hash": "#CTB",
        "x-ko-module-id": "CTB",
        "x-ko-module-name": "Contabilidade / Configurações",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarBandeiracartao"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/geral/caracteristicas/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: GERAL / caracteristicas",
        "description": "Endpoint operacional Omie ERP para o módulo geral. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "geral_caracteristicas",
        "tags": [
          "Geral"
        ],
        "x-ko-module-hash": "#CTB",
        "x-ko-module-id": "CTB",
        "x-ko-module-name": "Contabilidade / Configurações",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarCaracteristicas"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/geral/categorias/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: GERAL / categorias",
        "description": "Endpoint operacional Omie ERP para o módulo geral. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "geral_categorias",
        "tags": [
          "Geral"
        ],
        "x-ko-module-hash": "#CTB",
        "x-ko-module-id": "CTB",
        "x-ko-module-name": "Contabilidade / Configurações",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string",
                    "example": "ListarCategorias"
                  },
                  "app_key": {
                    "type": "string",
                    "example": "4020942403"
                  },
                  "app_secret": {
                    "type": "string",
                    "example": "b1b0e0081d09e1c107bf45778848792a"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "call",
                  "app_key",
                  "app_secret",
                  "param"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC com o resultado da execução",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagina": {
                      "type": "integer"
                    },
                    "total_de_paginas": {
                      "type": "integer"
                    },
                    "registros": {
                      "type": "integer"
                    },
                    "total_de_registros": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/geral/cenarios/": {
      "post": {
        "summary": "Serviço Omie JSON-RPC: GERAL / cenarios",
        "description": "Endpoint operacional Omie ERP para o módulo geral. Suporta ações JSON-RPC como Incluir, Alterar, Consultar e Excluir.",
        "operationId": "geral_cenarios",
        "tags": [
          "Geral"
        ],
        "x-ko-module-hash": "#CTB",
        "x-ko-module-id": "CTB",
        "x-ko-module-name": "Contabilidade / Configurações",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
[...]
